	#main--header {
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3e2c7+0,b68d4c+13,e9d4b3+100 */
background: linear-gradient(to bottom,  #f3e2c7 0%,#b68d4c 13%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
height: 80px;
	}
#project-name {
	font-size: 30px;
}

/* General Styles */
body {
  font-family: 'Roboto', sans-serif; /* Imported font */
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  background-color: #f8f9fa;
  padding: 1em;
}

main-navbar {
	background-color:green;
	overflow:hidden;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
}

#navbar-container {
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
}
	
#main-navbar ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	 
}

#main-navbar ul li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
 
}

#main-navbar ul li a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}
 
#main-navbar ul li a:hover {
	background-color: #000080;
}

#main-navbar #onpage {
	background-color: #navy;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1em;
	overflow: hidden;
}
#header-container {
	position: relative;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #f8f9fa;
  position: absolute;
  width: 100%;
	position: relative;
  bottom: 0;
}

/* Fluid Layout */
.fluid-layout {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2%;
}

/* Fixed Width Layout */
.fixed-layout {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Responsive Media Query */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
}

		
	
		
	
		
	
		